<!doctype html>
<html>
    <head>
        <title>Terminal Connect - <%-title%></title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-60686328-1', 'auto');ga('send', 'pageview');</script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="/lib/ws/angular-websocket.min.js"></script>
    </head>
    <body>
        <% if (user === undefined) { %>
          <a href="/auth/github">Login with GitHub</a>
        <% } else { %>
          <a href="/logout">Logout, <%= user.githubUsername %></a>
          API Key: <%= user.apiKey %>
        <% } %>
        
        <%-body%>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
