<!doctype html>
<html>
    <head>
        <title>Terminal Connect - <%-title%></title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <% if (process.env.NODE_ENV === "production") { %>
            <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-60686328-1', 'auto');ga('send', 'pageview');</script>
            <script src="//fb.me/react-0.13.1.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/react-router/0.13.2/ReactRouter.min.js"></script>
        <% } else { %>
            <script src="//fb.me/react-0.13.1.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/react-router/0.13.2/ReactRouter.js"></script>
        <% } %>
    </head>
    <body>
        <% if (user === undefined) { %>
          <a href="/auth/github">Login with GitHub</a>
        <% } else { %>
          <a href="/logout">Logout, <%= user.githubUsername %></a>
          API Key: <%= user.apiKey %>
        <% } %>

        <%-body%>

        <script src="/socket.io/socket.io.js"></script>
        <% if (user !== undefined) { %>
            <% if (process.env.NODE_ENV === "production") { %>
                <script src="/js/main.min.js"></script>
            <% } else { %>
                <script src="/js/main.js"></script>
            <% } %>
        <% } %>
    </body>
</html>
